.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  bottom: 0;
}
.header {
  text-align: center;
}
.footer {
  text-align: center;
  color: #ccc;
}
.p1 {
  overflow: hidden;
}
.p1 span {
  float: left;
}
.p1 button {
  float: right;
}
.chat-box {
  flex: 1;
  overflow: auto;
  padding: 10px;
}

.user-message {
  background-color: #def1ff;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  align-self: flex-end;
}

.bot-message {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.input-field {
  flex: 1;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.send-button {
  border: none;
  background-color: #0077ff;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}
.icon {
  background-color: #10a37f;
  padding: 4px 8px;
  margin-right: 10px;
  color: #fff;
}
.iconMe {
  background-color: #99a27d;
}
.resMsg{
  display:flex;
  align-items:start;
}
.loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
